::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #9e9e9e;
}

[v-cloak] {
    display: none;
}

.carrier-name {
    text-transform: lowercase;
}

.carrier-name:first-letter {
    text-transform: uppercase;
}
html {
    overflow-x: hidden;
}
video {
    width: 100%;
}
body {
    font-family: "Poppins", sans-serif;
    color: #3e3e3e;
    scroll-behavior: smooth !important;
}

body :focus {
    outline: none;
}

button:focus {
    outline: 5px auto transparent;
}

section {
    padding: 20px 0 15px;
}

a {
    text-decoration: none !important;
}

body.offcanvas-expanded {
    overflow: auto !important;
}

.p-g {
    padding: 0px 50px 0px;
    width: 100%;
    display: flex;
    align-items: center;
}

.container- .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 35px;
    height: 3px;
    background-color: #0c4572;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
    top: 55px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    right: 20px;
}

.hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s;
}

@media (max-width: 767px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        /* Height of navbar */
        bottom: 0;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: hidden;
        background-color: #fff;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out,
            -webkit-transform 0.3s ease-in-out;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@media (max-width: 767px) and (min-width: 0px) and (max-width: 767px) {
    .offcanvas-collapse {
        top: 95px;
        padding: 40px 10px;
        overflow-y: scroll;
        z-index: 1;
    }

}

@media (max-width: 767px) {
    .offcanvas-collapse.open {
        -webkit-transform: translateX(-1rem);

        text-align: center;
        /* Account for horizontal padding on navbar */
    }
}

/*navbar*/
.navbar-brand img {
    width: 67%;
}

.navbar-expand-md .navbar-nav .nav-link {
    color: #0c4572;
}

.nav-link-black {
    color: #0c4572 !important;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.9rem;
    cursor: pointer;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
}

.dowms .dropdown-toggle::after {
    display: none;
}

/*banner*/

.main-banner_body {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-gap: 20px;
    grid-template-columns: 40% 12% 44%;
}

.main-banner_img img {
    width: 550px;
    height: 500px;
    object-fit: cover;
    width: 100%;
    object-position: center;
    width: 100%;
}

.bg-blue::before {
    background: #0c4572;
    position: absolute;
    height: 100vh;
    width: 500px;
    content: "";
    top: 0;
    right: 0;
    z-index: -1;
}

.nav-bottom {
    margin-top: 15px;
}

.main-banner__content .slick-dots .slick-active button:before {
    margin: 0;
    opacity: 1;
}

.main-banner__content .slick-dots li button:before {
    color: gray;
    content: "";
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    transition: all 300ms ease;
}

.main-banner {
    position: relative;
    overflow: hidden;
    margin-top: -80px;
}

.main-banner .main-banner__item {
    position: relative;
}

.main-banner .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.main-banner .mask .main-banner__text {
    position: absolute;
    top: 40%;
    width: 55%;
    left: 8%;
}

.main-banner .mask .main-banner__text .main-banner__title p {
    padding: 0;
    color: #fff;
    font-size: 3.4rem;
    font-weight: 800;
    line-height: 1;
    margin: 0;
    font-family: Poppins, sans-serif;
}

.main-banner .mask .main-banner__text .main-banner__title span {
    padding: 0 25px;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
}

.main-banner .mask .main-banner__text .main-banner__description {
    padding: 0;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.2;
    margin: 15px 0 0 0;
}

.main-banner .mask .main-banner__text .main-banner__description p {
    margin-bottom: 3rem;
}

.main-banner .main-banner__img {
    width: 100%;
    height: 105vh;
}

.main-banner .main-banner__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrows {
    fill: #5f657f;
}

.slick-slide img {
    display: block;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    box-shadow: 0px 0px 11px #00000026;

    object-position: center;
}
.banner-title {
    position: absolute;
    color: #ffff;
    width: 100%;
    top: 40%;
}
.main-banner__item {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    padding: 3px 10px 50px;
}

.main-banner .slick-next:before {
    font-size: 130px;
    color: transparent;
    content: ".";
    z-index: 3;
    background-image: url(../img/arrow.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

.main-banner .slick-prev:before {
    font-size: 130px;
    color: transparent;
    content: ".";
    z-index: 3;
    background-image: url(../img/arrow-up.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

.subtitulo {
    color: #5f657f;
    font-size: 16px;
    margin: 0;
}

.titulo {
    font-size: 40px;
    font-weight: 400;
    color: #121212;
    font-family: "Poppins", sans-serif;
}

.title__general {
    font-size: 40px;
    margin: 50px 0 50px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    position: relative;
}

.title__general h2 {
    color: #0c4572;
    font-weight: 600;
    text-transform: uppercase;
}

.title__general_flex {
    display: flex;
    justify-content: space-between;
}

/*
.title__general::before {
  content: "";
  position: absolute;
  background: #0a5787;
  height: 2px;
  width: 90px;
  bottom: -10px;
  right: 50%;
  border-radius: 10px;
}
.title__general::after {
  content: "";
  position: absolute;
  background: #0a5787;
  height: 5px;
  width: 5px;
  bottom: -11px;
  right: 49%;
  border-radius: 50%;
}*/
/*btn*/
.btn-custom {
    position: relative;
    z-index: 1;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 300;
    border: none;
    display: inline-block;
    padding: 0 50px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
    border-radius: 23px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    overflow: hidden;
    border-radius: 10px;
}

.btn-custom:focus,
.btn-custom:hover {
    font-weight: 500;
    background-color: #ffffff;
    color: #111343 !important;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
}

.btn-custom:focus::before,
.btn-custom:hover::before {
    left: 110%;
}

.btn-custom::before {
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    content: "";
    background: #0c4572;
    /* background-image: -webkit-linear-gradient(120deg, #505add 0%, #df42b1 100%); */

    z-index: -2;
}

/*btn*/

.main-banner__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*categorias*/
.main-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-categories__item {
    background: #d2d2d2;
    width: 25%;
}

.main-categories__content {
    background-size: cover;
    width: 100%;
    height: 260px;
    background-position: center;
    position: relative;
}

.mask_deg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* background: #d2d2d2; */
    background-image: -webkit-linear-gradient(85deg, #0c4572 0%, #764ebe1a 51%);
    transition: 0.5s;
}

/*categorias trasition*/

.categories-transition {
    display: block;
    position: relative;
    overflow: hidden;
}

.categories-transition::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
        translate3d(0px, -120%, 0px);
    transition: all 0.6s ease 0s;
}

.categories-transition img {
    width: 100%;
}

.categories-transition img {
    transform: scale3d(1.05, 1.05, 1);
    transition: all 0.4s ease 0s;
}

.categories-transition {
    display: block;
    position: relative;
    overflow: hidden;
}

.categories-transition img {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    -moz-transform: scale3d(1.05, 1.05, 1);
    -ms-transform: scale3d(1.05, 1.05, 1);
    -o-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

.categories-transition:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
        translate3d(0, -120%, 0);
    -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
        translate3d(0, -120%, 0);
    -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
        translate3d(0, -120%, 0);
    -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
        translate3d(0, -120%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
        translate3d(0, -120%, 0);
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.categories-transition:hover img {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.categories-transition:hover:before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
        translate3d(0, 120%, 0);
    -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
        translate3d(0, 120%, 0);
    -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
        translate3d(0, 120%, 0);
    -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
        translate3d(0, 120%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
        translate3d(0, 120%, 0);
}

.main-categories__content .titulo {
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    transform: translateY(200px);
    transition: 0.8s;
    text-align: center;
}

.main-categories__content:hover .titulo {
    transform: translateY(140px);
    transition: 0.5s;
    color: black;
}

.main-categories__content:hover .mask_deg {
    background-image: -webkit-linear-gradient(
        85deg,
        #f2eef2 -13%,
        #764ebe33 108%
    );
    transition: 0.5s;
}

/*top*/

.slider-for {
    margin-top: 50px;
}

.slider-nav .slick-slide {
    opacity: 0.5;
}

.slider-nav .slick-current {
    opacity: 1;
}

.slider-nav .slick-current .main-top__img img {
    opacity: 1;
    transform: translate(0px, -10px);
    transition: 0.5s;
}

.main-top__content {
    margin-top: 50px;
}

.main-top {
    padding: 100px;
}

.main-top__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-top__img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.main-top__img img {
    width: 100%;
    height: 330px;
    object-fit: contain;
    padding: 20px;
}

.slider-nav .main-top__img img {
    height: 170px;
    object-fit: contain;
    padding: 20px;
}

.slick-slide:focus {
    outline: transparent !important;
}

.main-top__title p {
    font-size: 30px;
    margin: 0;
    color: #121212;
}

.main-top__price {
    margin-bottom: 10px;
    display: flex;
}

.main-top__price p {
    margin: 0;
    font-size: 16px;
}

.main-top__price span {
    font-size: 30px;
    color: #0c4572;
    margin-left: 10px;
}

.main-top__description p {
    font-size: 16px;
    color: #666;
    height: 15vh;
    overflow: scroll;
}

.main-top__details span {
    font-size: 15px;

    color: #999;
    margin-right: 10px;
}

.main-top__btn {
    margin-top: 20px;
}

.progress {
    width: 400px;
}

.progress-bar {
    background-color: #0c4572;
}

.barra {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.barra p {
    font-size: 14px;
    color: #8d8d8d;
    margin: 0;
    font-weight: initial;
}

.barra span {
    color: #000;
    font-weight: 600;
}

/*productos*/

.main-products {
    padding: 100px;
}

.main-products__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    grid-gap: 20px;
}

.main-products__img {
    width: 100%;
    height: 130px;
}

.main-products__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: none;
}

.main-products__item {
    background-color: #ffff;
    box-shadow: 0px 0px 11px #00000026;
    border-radius: 10px;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.main-products__box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.main-products__details span {
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    color: #999;
    margin-right: 10px;
}

.main-products__title p {
    margin-bottom: 30px;
    font-size: 18px;
    color: #111;

    margin-bottom: 0;
}

.main-products__title_cat p {
    margin: 0;
    font-size: 12px;
    color: #0000006b;
}

.main-products__text {
    margin-top: 20px;
    margin-top: 35px;
}

footer {
    padding: 30px;
    border-top: 1px solid #00000012;
    margin-top: 50px;
    padding-bottom: 0;
}

.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.logo_footer {
    width: 55%;
}

.main-footer__item p {
    color: #000;
    font-weight: 600;
    margin: 0;
}

.grid_footer,
.main-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-footer__item a {
    color: #000000a3;
}

.copy {
    margin: 0;
    text-align: center;
    font-size: 14px;
}

.views {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;

    opacity: 0;
    transition: 0.6s;
    position: absolute;
    transform: translateX(20px);
    right: 0;
}

.main-products__item:hover .views {
    transform: translateX(0%);
    opacity: 1;
}

.main-products__item [class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    margin-left: 0px;
}

.views span {
    background: #0000000f;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c4572;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

.content_modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.content_modal-item img {
    width: 60%;
}

.center {
    text-align: center;
}

.content_modal-item .titulo {
    color: #000;
    font-size: 25px;
}

/*detalle*/

.main-quotation__content {
    margin-top: 50px;
}

.main-quotation {
    padding: 100px;
}

.main-quatation__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-quatation__img {
    width: 100%;
    height: 100%;
}

.main-quatation__img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.slider-nav .main-quatation__img img {
    height: 200px;
    object-fit: cover;
}

.slick-slide:focus {
    outline: transparent !important;
}

.main-quatation__title p {
    font-size: 30px;
    color: #121212;
    font-weight: 900;
    font-family: "Fira Sans", sans-serif;
}

.main-quatation__price {
    margin-bottom: 20px;
}

.main-quatation__price span {
    font-size: 22px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    color: #fe8212;
}

.main-quatation__description p {
    font-size: 16px;
    color: #666;
    font-family: "Fira Sans", sans-serif;
}

.main-quatation__details span {
    font-size: 15px;
    font-family: "Fira Sans", sans-serif;
    color: #999;
    margin-right: 10px;
}

.main-quatation__btn {
    margin-top: 20px;
}

.main {
}

.action {
    display: block;
    margin: 100px auto;
    width: 100%;
    text-align: center;
}

.action a {
    display: inline-block;
    padding: 5px 10px;
    background: #f30;
    color: #fff;
    text-decoration: none;
}

.action a:hover {
    background: #000;
}

.main-details__product .main-top__price p {
    font-size: 25px;
    color: #0c4572;
    margin-bottom: 0;
}

.details__txt {
    font-size: 14px;
    color: #5f266f;
    margin-bottom: 6px;
}

.main-details__product .main-top__title p {
    margin: 0;
}

.main-details__product .barra {
    width: 90%;
}

.main-details__product .progress {
    width: 190px;
    height: 4px;
}

.main-details__product .slider-nav__details .slick-slide img {
    display: block;
    width: 150px;
    height: 80px;
    padding: 10px;
    object-fit: contain;
    box-shadow: 0px 0px 11px #00000026;
    border-radius: 10px;
}

.btn100 {
    width: 100%;
    text-align: end;
}

.video {
    border: 1px solid #0c457226;
    height: 25vh;
    border-radius: 10px;
    margin-bottom: 20px;
}

.main-details__product .slick-slide img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: contain;
    box-shadow: none;
}

.slider-nav__details {
    margin: 20px;
}

.slider-nav__details .slick-slide {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.presentaciones ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.presentaciones .nav-link {
    color: #0c4572;
}
.presentaciones .control--radio .control__indicator:after {
    left: 6px;
}
.table td,
.table th {
    vertical-align: revert !important;
}
.presentaciones .control {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 30px;
}
.presentaciones .dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
    border: 1px solid #5f266f;
    border-radius: 10px;
    margin-right: 20px;
}

.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
}

/* Nav */
.tabs nav {
    text-align: center;
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
}

.tabs nav a span {
    vertical-align: middle;
    font-size: 0.75em;
}

.tabs nav li.tab-current a {
    color: #74777b;
}

.tabs nav a:focus {
    outline: none;
}

/*
tab detalles
*/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 7px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    border-radius: 10px;
    border: 1px solid #0c4572;
    color: #0c4572;
}

/*
.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}
*/
.tabset > label:hover,
.tabset > input:focus + label {
    color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #a2266f;
    z-index: -1;
}

.tabset > input:checked + label {
    border: 1px solid #a2266f;
    z-index: 111;
    color: #a2266f;
}

.tab-panel {
    padding: 14px 30px 0;
    border-top: 1px solid transparent;
    color: #a2266f;
}

.carrito img {
    width: 70px;
    object-fit: contain;
    margin-bottom: 10px;
}

.w-150 {
    width: 150px;
}

.delete {
    border: 1px solid #0000002e;
    border-radius: 50%;
    padding: 0px 7px;
    color: #0000002e;
}

.delete:hover span {
    color: #f90a0a;
}

.pedido {
    border: 1px solid #dee2e6;
    padding: 15px;
    border-radius: 10px;
}

.space {
    display: flex;
    justify-content: space-between;
}

.pedido .price {
}

/*categoria*/

.main-banner__item--categoria .main-banner__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px 42%;
}

.main-banner-categorias .main-banner__img {
    height: 50vh;
    position: relative;
}

.main-banner-categorias .main-banner__text {
    margin-left: 35px;
    position: absolute;
    z-index: 1;
    top: 100px;
}

.massk {
    background: -webkit-linear-gradient(260deg, #0a88bb17 -7%, #ffffff 100%);
    position: absolute;
    top: 0;
    width: 100%;

    height: 50vh;
}

.main-banner__item--categoria {
    position: relative;
}

.main-banner__item--categoria .titulo {
    color: #0a5787;
}

.categorias_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*filtro*/
.main-filtro__grid {
    display: grid;
    grid-template-columns: 25% 75%;
}

.filtro_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-filtro_item span {
    color: #12173e;
}

.filtro_contetent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.main-filtro_item h3 {
    color: #0491c5;
}

.page-list li {
    margin-right: 15px;
}

.page-list a {
    color: #112046;
}

.img_social {
    width: 16px;
}

.grid__formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal_w {
    max-width: 1050px;
}

.presentaciones p {
    margin-right: 20px;
}

.presentaciones_card p {
    margin-right: 20px;
    font-size: 12px;
    margin-top: 10px;
}

.terminos {
    cursor: pointer;
}

.optiones {
    border: 1px solid #a2266f;
    z-index: 111;
    color: #a2266f;
    background: transparent;
}

.presentaciones {
    display: grid;
}

.presentaciones .btn-primary:hover {
    color: #fff;
    background-color: #0c4572;
    border-color: #0c4572;
}

.presentaciones .btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #0c4572;
    border-color: #0c4572;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.radios {
    position: relative;
}

.radios::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #a2266f;
    left: -12px;
    top: 10px;
}

.radios::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #a2266f;
    border-radius: 50%;
    left: -7px;
    top: 15px;
}

.cantidad_btn {
    border: 1px solid #0000007a;
    border-radius: 10px;
    height: 33px;
    width: max-content;
}

.cantidad_btn .btn-success {
    color: #000000a1;
    background-color: transparent;
    border-color: transparent;
    padding: 0px 10px;
    line-height: 1.9;
}

.pepe {
    box-shadow: 0px 0px 10px #00000047;
}

.pepe .nav-link {
    color: #0c4572 !important;
}

.border-blue {
    border: 1px solid #0c4572;
    border-radius: 10px;
}

.card-pay {
    box-shadow: 0px 0px 10px #00000024;
    border-radius: 10px;
    padding: 20px;
    /* border: 1px solid #0c4572;*/
}

.total {
    color: #0c4572;
    font-size: 1.5rem;
    font-weight: 500;
}

.cantidad_btn .btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0);
}

.cantidad_btn .btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
    color: #0c4572;
    background-color: #1e7e3400;
    border-color: #1c743000;
}

.cantidad_btn .btn-success.focus,
.btn-success:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0);
}

.control-group {
    display: flex;
    background: #fff;
    text-align: left;
    margin: 10px;
}

.control {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0;
}

.control input {
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 100px;
    left: -60px;
    height: 30px;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: #0c4572;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0c4572;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: "";
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

.page-item:last-child .page-link {
    font-size: 16px;
}

.informacion .col-md-6 {
    display: flex;
}

.informacion label {
    margin-right: 10px;
    font-weight: 700;
}

.fleex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-grid {
    /* display: grid !important;
    grid-template-columns: 25% 25% 50%; */
}

.search .form-control {
    padding-left: 30px;
    color: #495057;
    background-color: #0000000f;
    border: 1px solid #0c4572;
    border-radius: 50px;
    background-color: transparent;
    width: 350px;
    margin-left: 20px;
}

.list_search {
    display: none;
    position: absolute;
    box-shadow: 0px 0px 15px #0000001f;
    border-radius: 10px;

    margin-top: 25px;
    z-index: 999999;
    background: #fff;
    color: #0c4572;
    transition: 0.6s;
    width: auto;
    text-align: center;

    justify-content: center;
    left: 17%;
    flex-direction: column;
    padding: 20px 0 0px;
    z-index: 0;
}
.active_s {
    display: block;
    z-index: 999;
}
.name_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.name_list a {
    font-size: 14px;
}
.name_list li {
    margin-left: 0px;
}
.name_list2 {
    list-style: none;
    margin-top: 15px;
    font-size: 14px;
}
.name_list2 li {
    /* display: flex; */
    /* justify-content: space-between; */
    /* display: grid; */
    /* grid-template-columns: 76% 23%; */
    margin-bottom: 15px;
    display: flex;
    margin-right: 35px;
}
.name_list2 .control__indicator {
    height: 20px;
    width: 20px;
    background: #00000012;
}
.name_list2 .control {
    margin-left: 10px;
}
.name_list2 .control--radio .control__indicator:after {
    left: 6px;
    top: 6px;
}
.name_list2 .control input:checked ~ .control__indicator {
    background: #0c4572;
}
.bg-search {
    background: #ffffff;
    color: #0c4572;
    text-align: start;
    padding: 15px 0px 16px;
    border-top: 1px solid #0000000d;
}
.bg-search span {
    margin-left: 25px;
    font-weight: 500;
    font-size: 16px;
    font-weight: 700;
    color: #0c4572;
}
.succss {
    border: 1px solid white;
    border-radius: 10px;
}
.succss [class^="flaticon-"]:before {
    margin-left: 0;
}
.dropdown:hover > .dropdown-menu {
    display: block;
    left: -40px;
}
.add_btn {
    position: absolute;
    color: #ffffff;
    background: #0c4572;
    padding: 0px 10px;
    border-radius: 50px;
    font-size: 14px;
    width: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    left: 33px;
}
.pepe .add_btn {
    color: #ffffff;
    background: #0c4572;
}

.mask,
.down-md-v {
    display: none;
}

.main-products__box .presentaciones_card p {
    margin-right: 9px !important;
}

.btn-custom-1 {
    border: 1px solid white;
}

.container-range {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* justify-content: space-between; */
    position: relative;
}

.box-minmax {
    margin-top: 30px;

    width: 230px;

    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #000;
}

.box-minmax span:first-child {
    margin-left: 10px;
}

.rs-range {
    width: 230px;

    -webkit-appearance: none;
}

.rs-range:focus {
    outline: none;
}

.rs-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #0491c5;
    border-radius: 0px;
    border: 0px solid #0491c5;
}

.rs-range::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #0491c5;
    border-radius: 0px;
    border: 0px solid #010101;
}

.rs-range::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid #000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #0491c5;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
}

.rs-range::-moz-range-thumb {
    box-shadow: none;
    border: 0px solid #000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 22px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}
.btn-filtro {
    position: relative;
    z-index: 1;
    height: 30px;
    line-height: 31px;
    font-size: 12px;
    padding: 0 31px;
    letter-spacing: 0.5px;
    border-radius: 10px;
    margin-top: 30px;
}
.price-range {
    font-size: 17px;
    margin-bottom: 13px;
    font-style: italic;
}
.rs-range::-moz-focus-outer {
    border: 0;
}

/*.rs-label {
    position: relative;
    transform-origin: center center;
    display: block;
    width: 98px;
    height: 98px;
    background: transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 22px;
    box-sizing: border-box;
    border: 2px solid #000;
    margin-top: 20px;
    margin-left: -38px;
    left: attr(value);
    color: #000;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
}*/

.rs-label::after {
    content: "kg";
    display: block;
    font-size: 20px;
    letter-spacing: 0.07em;
    margin-top: -2px;
}

.controls h3 {
    color: #0491c5;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.controls .active {
    /* background: #68b8c4; */
    color: #0491c5 !important;
}

button:focus {
    outline: 0 none;
}

.product-grid:after {
    display: inline-block;
    width: 100%;
}

.product-grid .mix,
.product-grid .gap {
    display: inline-block;
}

.product-grid .mix {
    display: none;
}

.product-grid .mix:after {
    display: inline-block;
}

.product-grid .mix:before {
    display: inline-block;
}

.img-s {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-s .name_list a {
    font-size: 16px;
    text-align: start;
}

.img-s img {
    width: 50px !important;
    margin-left: 12px;
    border-radius: 10px;
}

.name_list .img-s {
    font-size: 14px;
    text-transform: capitalize;
}

.card-pay .form-group {
    text-align: start;
}

.totaal {
    text-align: center !important;
}

.grid-cou {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.btn-custom2 {
    height: 40px;
    line-height: 40px;
    padding: 0 100px;
}
.inicia {
    text-align: center;
    color: #0000008c;
    font-size: 13px;
    font-style: italic;
    position: relative;
}

.inicia:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    background: black;
    left: 17%;
    top: 44%;
    opacity: 0.1;
}
.inicia:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    background: black;
    right: 16%;
    top: 44%;
    opacity: 0.1;
}
.goo {
    background: #e44134 !important;
    color: #fff !important;
}
.facil {
    background: white;
    padding: 7px 15px;
    border-radius: 10px;
    color: #0c4572 !important;
    text-transform: uppercase;
    transition: 0.6s;
}
.facil:hover {
    background: #0c4572;
    padding: 7px 30px;
    border-radius: 10px;
    color: #ffffff !important;
    text-transform: uppercase;
    transition: 0.6s;
    border: 1px solid white;
}
.mass {
    background: transparent;
    color: #0c4572;
    border: 1px solid #0c4572;
    line-height: 0;
    padding: 0;
    height: 30px;
    width: 30px;
}
.custom2 {
    position: relative;
    z-index: 1;
    height: 40px !important;
    line-height: 39px !important;
    font-size: 14px !important;
    font-weight: 300;
    border: none;
    margin-left: 17px;
    display: inline-block;
    padding: 0 20px !important;
}

.visualizar {
    position: absolute;
    font-size: 12px;
    background: #0387be;
    border-radius: 10px;
    color: #fff;
    right: 50px;
    padding: 3px 12px;
    top: 7px;
    opacity: 0;
    transition: 0.5s;
}
.visualizar::before {
    content: "";
    width: 15px;
    height: 15px;
    background: #0387be;
    position: absolute;
    transform: rotate(45deg);
    right: -2px;
    z-index: -1;
    top: 5px;
}
.views:hover .visualizar {
    opacity: 1;
    transition: 0.5s;
}
.carrito-nav {
}

.carrito-nav img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 12px;
}
.carrito-nav li {
    display: flex;
    margin-bottom: 13px;
}
.carrito-nav ul {
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 11px;
}
.carrito-nav p {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
}
.carrito-nav:nth-child(1) p {
    color: red;
}
.dropdown:hover > .dropdown-menu {
    display: block;
    left: -40px;
    width: 200px;
    padding: 10px;

}
.overdro
{
    overflow: scroll;
    height: 45vh;
}
.sub {
    border-top: 1px solid #00000021;
    text-align: center;
    padding-top: 10px;
    color: #0c4572;
}
.sub-h {
    height: 30px;
    line-height: 30px;
    padding: 0;
    width: 150px;
}
.btn-w {
    border: 1px solid #0c4572;
    color: #0c4572;
}

.btn-w::before {
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    content: "";
    background: #ffffff;
    /* background-image: -webkit-linear-gradient(120deg, #505add 0%, #df42b1 100%); */
    z-index: -2;
}
.dropdown-toggle:after {
    opacity: 0;
}
.navbar-expand-md .navbar-nav {
    align-items: center;
}
.flaticon-user:before {
    content: "\f100";
    margin: 0;
}
.wave {
    position: absolute;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 200px;
}
.navbar-expand-md {
    position: fixed;
    z-index: 9;
    background: #fff;
    box-shadow: 0px 0px 10px #00000047;
    top: 0;
}
#banner {
    padding-top: 90px !important;
}
.p-50 {
    padding-top: 150px !important;
}
.logo-product {
    width: 25%;
    height: 70px;
    object-fit: contain;
}

.elipse {
    background: #fff;
    position: fixed;
    z-index: 9999999;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.elipse img {
    opacity: 0.3;
    width: 25rem;
    position: absolute;
    animation-name: colombia;
    animation-duration: 2s;
    /* or: Xms */
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* or: normal */
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    /* or: backwards, both, none */
    animation-delay: 1s;
}

@-webkit-keyframes colombia {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.8;
    }
}
.overlay::before {
    content: "";
    position: absolute;
    background-image: -webkit-linear-gradient(85deg, #0c4572 0%, #764ebe1a 80%);
    width: 100%;
    height: 99%;
}

.banner-title h1 {
    text-transform: uppercase;
    /* font-weight: 700; */
    /* font-family: "Lobster", cursive; */
    font-size: 4rem;
}
.banner-title p {
    font-size: 20px;
}
.slick-dotted.slick-slider {
    margin-bottom: -10px;
}
.present {
    line-height: 0.5;
}
.present p {
    color: #0c4572;
}
.main-products__details p {
    margin: 0;
}
.content_modal-item {
    text-align: justify;
    height: 40vh;
    overflow: auto;

    padding: 10px;
}

.terminos-modal .content_modal {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    text-align: justify;
}
.drow-none {
    display: none;
}
.img-top {
    justify-content: center;
    align-items: center;
    display: flex;
}

#productVideo {
    height: 30vh !important;
}
.img-logo {
    width: 230px;
    margin-right: 50px;
}
.nav-link {

    font-size: 18px;
}
.bg-search-scroll{
    height: 26vh;
    overflow: scroll;
}
.name_list3{
    height: 13vh;
    overflow: scroll;
}
.cat-over{
    height: 70vh;
    overflow: scroll;
}
.mover1{
    height: 50vh;
    overflow: scroll;
}
strike{
    color: #969696;
    margin-left: 10px;

}
.nav-2{
    border-bottom: 1px solid #00000017;
    padding: 10px 0px;
    font-size: 15px;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.nav-2 i{
    font-size: 17px;

}
.nav-2 a{
    margin-right: 25px;
    color: #565656;
    font-weight: 400;
 }
.iconos-social{
    display: flex;
}
.precio_content{
    display: flex;
    font-size: 21px;
}
.main-top__title{
    align-items: center;
}
.nav-2 a:hover{
    color: #0c4572;
}
.ws{
position: fixed;
z-index: 9;
    bottom: 10px;
    right: 10px;
}

.newletter .bg-new{
    background-size: cover;
    height: 46vh;
    background-repeat: no-repeat;
    position: relative;
    object-position: center;
    background-position: center;


}

.bg-new::before{
    background: #11478ac4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    content: "";
}
.newl-content{
    z-index: 1;
    position: relative;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.newl-content .form-control {

    background-color: #fffffff5;

}
.newl-content form{
    text-align: start;
}
.newl-content h2{
    font-size: 1.9rem;
    text-transform: unset;
    margin-bottom: 2rem;
}

.grid-new{
    display: grid;
    grid-template-columns: 65% 40%;
    align-items: center;
    margin-left: 0rem;
}
.grid-new .btn-custom {
    position: relative;
    z-index: 1;
    height: 38px;
    margin-top: 1rem;
    margin-left: 1rem;
    line-height: 27px;
    padding: 0px 35px;
    letter-spacing: 0.5px;
    color: #0c4572;
    border-radius: 5px;

}
.newletter button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
    font-weight: 200;
    font-size: 2rem;
}
.newletter .btn-custom::before {
    background: #ffffff;
}
.newletter .btn-custom::before {
    background: #ffffff;
}
.newletter .close {
    color: #fff;
    opacity: 1;
    z-index: 9999;
    position: relative;
}
.newletter .modal-dialog {
    max-width: 600px;

}
.newletter
.modal-content {

    border: 0;
}

.carrito .form-control {
    padding-left: 6px!important;

}
#cart-discount0 ,#cart-discount1{
    font-size: .9rem;
}
.contain-cart{
    padding: 0 4rem;
}
.btn-des{
    font-size: 12px;
    width: 100%;
}
