@media (max-width: 767px) {
}

@media (min-width: 0px) and (max-width: 767px) {
    .btn-default {
        width: 100%;
    }
    .btn-default .flaticon-shopping-cart:before {
        content: "\f102";
        margin-left: 0;
        font-size: 25px;
    }
    .flaticon-user:before {
        content: "\f100";
        margin-left: -16px !important;
        font-size: 26px !important;
    }
    .add_btn {
        left: 50%;
    }
    .nav-item .mr-5 {
        margin-right: 0rem !important;
    }
    .main-registro .card-body {
        padding-top: 260px;
    }
    .login button.close {
        color: #0c4572;
        z-index: 999;
        font-size: 46px;
    }
    .banner-title h1 {
        font-size: 2rem;
    }
    .main-categories__item {
        width: 100%;
    }
    .over_table {
        overflow-x: scroll;
    }
    /* #cartPreview {
        position: absolute;
        top: 0;
    } */
    .dropdown-toggle {
        display: initial !important;
        padding: 0;
        margin: 0;
        position: relative;
    }
    .carrito .cantidad_btn {
        width: 100% !important;
    }
    .carrito .col-md-8 {
        overflow-x: scroll;
        margin-bottom: 30px;
    }
    .navbar-brand img {
        width: 130px;
        margin-left: 15px;
    }
    .product-grid {
        grid-template-columns: 1fr;
    }
    .main-banner__item {
        grid-template-columns: 1fr;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .bg-blue::before {
        background: #ffffff;
    }

    .hamburger-box {
        display: contents;
    }

    .navbar {
        box-shadow: 0px 0px 5px #00000054;
    }

    .main-banner__text {
        position: absolute;

        z-index: 9999;
    }

    .slick-slide img {
        box-shadow: none;
        border-radius: 0px;
    }

    .main-categories,
    .content_modal {
        grid-template-columns: 1fr;
    }

    .main-footer,
    .grid_foote,
    .categorias_grid,
    .main-filtro__grid,
    .filtro_card {
        grid-template-columns: 1fr;
    }

    .slider-nav .main-top__img img {
        height: auto;
        object-fit: contain;
        padding: 0;
    }

    .progress {
        width: 100%;
    }

    .main-details__product .barra {
        width: 100%;
    }

    .barra {
        width: 96%;
    }

    .main-top__btn {
        text-align: center;
    }

    .float-left {
        float: initial !important;
    }

    .slider-nav__details {
        display: none;
    }

    .name_list {
        display: block;
    }

    .list_search {
        width: 100%;
        left: 0;
    }

    .nav-grid {
        grid-template-columns: 1fr 1fr;
    }

    .search {
        display: none;
    }

    .main-banner .slick-slide img {
        height: 85vh;
        width: 100%;
    }

    .mask {
        display: block;
        background: #0c457270;
        width: 100%;
        position: absolute;
        height: 85vh;
        z-index: 111;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-banner {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .main-banner__title,
    .main-banner__btn {
        text-align: center;
    }

    .titulo,
    .subtitulo {
        color: #ffffff;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        color: #10264e;
        border-bottom: 1px solid #0c45721c;
    }

    .add_btn {
        color: #ffffff;
        background: #0c4572;
    }

    .border-blue {
        border: 1px solid #0c457200;
        border-radius: 10px;
    }

    .main-top__container {
        grid-template-columns: 1fr;
    }

    .top2 {
        display: none;
    }
    .main-top__img img {
        width: 100%;
        height: 40px;
        object-fit: contain;
        padding: 20px;
    }
    .control {
        font-size: 14px;
    }
    .navbar-expand-md .navbar-nav {
        align-items: self-end;
        margin-left: 20px;
    }
    .navbar-nav li {
        width: 100%;
        margin-top: 7px;
    }
    .elipse img {
        width: 15rem;
    }
    .presentaciones {
        display: block !important;
    }
    .main-footer,
    .grid_foote,
    .categorias_grid,
    .main-filtro__grid,
    .filtro_card {
        text-align: center;
    }
    .grid_footer,
    .main-login {
        grid-template-columns: 1fr;
        padding: 0;
        list-style: none;
    }
    .main-footer,
    .grid_foote,
    .categorias_grid,
    .main-filtro__grid,
    .filtro_card {
        padding: 0;
        list-style: none;
    }
    .p-50 {
        padding-top: 100px !important;
    }
    .drow-none {
        display: block;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .down-md {
        display: none;
    }
    .down-md-v {
        display: block;
    }
}

@media (min-width: 1440px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-categories__item {
        width: 50%;
    }
    .product-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .barra {
        width: 96%;
    }

    .main-top__btn {
        text-align: center;
    }

    .float-left {
        float: initial !important;
    }

    .slider-nav__details {
        display: none;
    }

    .name_list {
        display: block;
    }

    .list_search {
        width: 100%;
        left: 0;
    }

    .nav-grid {
        grid-template-columns: 1fr 1fr;
    }

    .search {
        display: none;
    }

    .bg-blue::before {
        background: #0c4572;
        position: absolute;
        height: 100vh;
        width: 480px;
    }
    .main-banner__item {
        grid-template-columns: 1fr;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .bg-blue::before {
        background: #ffffff;
    }

    .hamburger-box {
        display: contents;
    }

    .navbar {
        box-shadow: 0px 0px 5px #00000054;
    }

    .main-banner__text {
        position: absolute;

        z-index: 9999;
    }

    .slick-slide img {
        box-shadow: none;
        border-radius: 0px;
    }

    .main-banner .slick-slide img {
        height: 85vh;
        width: 100%;
    }

    .mask {
        display: block;
        background: #0c457270;
        width: 100%;
        position: absolute;
        height: 85vh;
        z-index: 111;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-banner {
        padding: 0;
        margin: 0;
        width: 100%;
        padding-bottom: 0 !important;
    }

    .main-banner__title,
    .main-banner__btn {
        margin-left: 30px;
    }

    .titulo,
    .subtitulo {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        color: #0c4572;
    }

    .add_btn {
        color: #ffffff;
        background: #0c4572;
    }
    .mt-5,
    .my-5 {
        margin-top: 0rem !important;
        padding: 0;
    }
    .main-banner .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .control {
        font-size: 14px;
    }
    .down-md {
        display: none;
    }
    .down-md-v {
        display: block;
    }
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
    .main-registro {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 2560px) and (max-width: 2560px) {
    .main-banner .slick-slide img {
        display: block;
        width: 1000px;
        height: 900px;
        object-fit: cover;
        box-shadow: 0px 0px 11px #00000026;
        border-radius: 10px;
    }
}
